<style>
   #map {
     height: 600px;
     width: 70%;
     background-color: #247b24;
     float:right;
   }
   .navbar-inverse {
     background-color: #228B22 !important;
}
   
   body {
      color: #247b24;
      font-family: Roboto,sans-serif;
      background-image: url("http://www.hotelroomsearch.net/im/hotels/es/bosque-8.jpg");
   }
   #navbarMinha{
   	background-color: #228B22 !important;
   }
   
   #navbar2{
   	background-color: #228B22 !important;
   }
   
   p{
	   		float: left !important;
			color: #ffffff !important;
	   	}
   
   header{
   background-color: #228B22 !important;
   }
   
   #navbarMinha::after{
   	background-color: #228B22 !important;
   }
   
   #navbarMinha::before{
   	background-color: #228B22 !important;
   }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<header id="navbar2" class="navbar navbar-fixed-top navbar-inverse">
    <div id="navbarMinha" class="container">
        <nav>
        	<p><br>Plante Uma  &Aacutervore</p>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Doe", doe_path %></li>
            </ul>
        </nav>
    </div>
</header>
<br/><br/>
<main><center>
<br/><br/><br/><br/>
<h1 color="#ffffff">Faça uma doação</h1>

<h2 color="#ffffff">Quanto mais você ajudar, mais árvores iremos plantar!</h2>

<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
<input type="hidden" name="currency" value="BRL" />
<input type="hidden" name="receiverEmail" value="ricardosilva@sistemaids.com.br" />
<input type="hidden" name="iot" value="button" />
<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
</center>
</main>
<br><br>
