<% provide(:title, 'Doe') %>
<style>
  body {
    color: #247b24;
    font-family: Roboto,sans-serif;
    background-image: url("http://www.hotelroomsearch.net/im/hotels/es/bosque-8.jpg");
  //background-size: 100% 100%;
    background-size: cover;
  }
</style>

<main id="doe-page">
  <div id="doe">

    <h1>Faça uma doação</h1>

    <h2>Quanto mais você ajudar, mais árvores iremos plantar!</h2>

    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
      <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
      <input type="hidden" name="currency" value="BRL" />
      <input type="hidden" name="receiverEmail" value="ricardosilva@sistemaids.com.br" />
      <input type="hidden" name="iot" value="button" />
      <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
  </div>
</main>
<br><br>
