<style>
   #map {
     height: 600px;
     width: 70%;
     background-color: #247b24;
     float:right;
   }
   .navbar-inverse {
     background-color: #228B22 !important;
}
   
   body {
      color: #247b24;
      font-family: Roboto,sans-serif;
   }
   #navbarMinha{
   	background-color: #228B22 !important;
   }
   
   #navbar2{
   	background-color: #228B22 !important;
   }
   
   p{
	   		float: left !important;
			color: #ffffff !important;
	   	}
   
   header{
   background-color: #228B22 !important;
   }
   
   #navbarMinha::after{
   	background-color: #228B22 !important;
   }
   
   #navbarMinha::before{
   	background-color: #228B22 !important;
   }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<header id="navbar2" class="navbar navbar-fixed-top navbar-inverse">
    <div id="navbarMinha" class="container">
        <nav>
        	<p><br>Plante Uma  &Aacutervore</p>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Hashtag", hashtag_path %></li>
                <li><%= link_to "Doe", doe_path %></li>
            </ul>
        </nav>
    </div>
</header>
<br/><br/>

<div id="map"></div>
<a class="twitter-timeline" height="600px" background-color="#228B22" float="left" href="https://twitter.com/hashtag/PlanteUmaArvore" data-widget-id="912781471735218177" width="30%">PlanteUmaArvore Tweets</a>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>
  function initMap() {
    var uluru = {lat: -23.66216, lng: -46.60549};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: uluru,
      mapTypeId: 'hybrid'
    });
    /*var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });*/
    
    var icons = {
      tree: {
        icon: 'https://mt.googleapis.com/vt/icon/name=icons/onion/SHARED-mymaps-container_4x.png,icons/onion/1720-tree_4x.png&highlight=0F9D58&scale=2.0'
      }
    };

    var features = [
      {
        position: new google.maps.LatLng(-23.66216, -46.70549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.67216, -46.60549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.68216, -46.75549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.60216, -46.62549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.71216, -46.66549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.72216, -46.60549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.71216, -46.61549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.54216, -46.74549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.76216, -46.59549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.56016, -46.72549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.58216, -46.65549),
        type: 'tree'
      },
      {
        position: new google.maps.LatLng(-23.59016, -46.50549),
        type: 'tree'
      }
    ];

    // Create markers.
    features.forEach(function(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: icons[feature.type].icon,
        map: map
      });
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2dlVhp_ogPfsguZdP8TyuGJ5zqWI_I8U&callback=initMap">
</script>
