<% provide(:title, 'Por que plantar?') %>
<style>
  body {
    color: #000000;
    font-family: Roboto,sans-serif;
  //background-size: 100% 100%;
    background-size: cover;
  }
</style>

<main id="porque-plantar-page" class="container">
  <div id="porque-plantar" class="col-lg-12">
    <h4>Controle da temperatura e umidade do ar</h4>
    
    <p>As folhas ajudam a reduzir a temperatura. Elas refrigeram o ar por meio de um processo conhecido como evapotranspiração, que é a combinação de dois processos simultâneos: evaporação e transpiração (ambos liberam umidade no ar).</p>
    
    <h4>Interceptar a água da chuva</h4>
    
    <p>As copas das árvores fracionam a água das chuvas, o que diminui a energia do impacto da gota no solo minimizando o problema de erosão. As superfícies das folhas, frutos, galhos e demais estruturas aéreas promovem também a retenção de água e constitui-se uma “caixa” de retenção hídrica natural diminuindo, consequentemente, o problema das enchentes.</p>
    
    <h4>Proporcionar sombra</h4>
    
    <p>Locais arborizados economizam recursos públicos, por exemplo, na manutenção de áreas pavimentadas. Áreas arborizadas quando comparadas àquelas expostas diretamente ao sol sofrem menos com os fenômenos de contração e dilatação, diminuindo seu desgaste. 16 A copa das árvores filtra os raios solares diminuindo os efeitos da fotoexposição humana que, em excesso, pode causar doenças de pele e de visão. Assim, por meio da arborização, os órgãos públicos tendem a reduzir seus gastos na área de infraestrutura e saúde.</p>
    
    <h4>Funcionar como corredor ecológico</h4>
    
    <p>A arborização viabiliza a conexão entre as populações de fauna de fragmentos maiores. Além disso, as árvores abrigam uma infinidade de seres vivos, como insetos, líquens, pássaros, enriquecendo o ecossistema urbano e aumentando sua biodiversidade. As flores e frutos presentes nas árvores também trazem à cidade um ganho ambiental significativo, pois se prestam como atrativo e refúgio da avifauna urbana. Algumas espécies vegetais, com ênfase nas frutíferas nativas, são responsáveis pelo abrigo e alimentação de aves, assegurando-lhes condições de sobrevivência.</p>
    
    <h4>Agir como barreira contra ventos, ruídos e alta luminosidade</h4>
    
    <p>As árvores modificam os ventos pela obstrução, deflexão, condução ou filtragem do seu fluxo, assim, a vegetação quando arranjada adequadamente pode proteger as construções da ação dos ventos ou direcionar a passagem destes por um determinado local. Quanto aos ruídos, as estruturas vegetais são capazes de absorver ondas sonoras diminuindo a poluição sonora. Já no que se refere à luminosidade, a vegetação atenua o incômodo causado pelas superfícies altamente reflexivas de determinadas edificações, que podem ofuscar a visão.</p>
    
    <h4>Diminuir a poluição do ar</h4>
    
    <p>Pesquisadores da Universidade de Lancaster, no Reino Unido, realizaram experiências para comprovar a eficiência das árvores em retirar a poluição do ar, e constataram que as folhas conseguem absorver mais da metade do material particulado presente na atmosfera, principal responsável pela poluição do ar nos grandes centros urbanos.</p>
    
    <h4>Sequestrar e armazenar carbono</h4>
    
    <p>Por meio da fotossíntese, as árvores capturam o gás carbônico da atmosfera e o utilizam na formação de suas estruturas vegetativas. Sendo este um dos gases responsável pelo efeito estufa, as árvores auxiliam no combate ao aquecimento global.</p>
    
    <h4>Bem estar psicológico</h4>
    
    <p>Através do paisagismo se obtém uma infinidade de formas e cores, anulando o efeito monótono de construções retilíneas. A presença de espécies arbóreas na paisagem promove beleza cênica, melhoria estética (especialmente na época de floração) e funcionalidade do ambiente e, em consequência, um aumento da qualidade de vida da população.</p>
  </div>
</main>
<br><br>
