/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#map {
     height: 600px;
     width: 70%;
     background-color: #247b24;
     float:right;
   }
   .navbar-inverse {
     background-color: #228B22 !important;
  }
   
   body {
      color: #247b24;
      font-family: Roboto,sans-serif;
   }
   #navbarMinha{
   	background: #228B22 !important;
   }
   
   #navbar2{
   	background: #228B22 !important;
   }
   
   .navbar-inverse .navbar-nav>li>a {
      color: #bfbfbf;
    }
   
   p{
	   	float: left !important;
		color: #ffffff !important;
		margin: -5px;
	 }
   
   header{
   background-color: #228B22 !important;
   }
   
   #navbarMinha::after{
   	background-color: #228B22 !important;
   }
   
   #navbarMinha::before{
   	background-color: #228B22 !important;
   }
   
   #doe {
    background: green;
    margin: 200px auto 0;
    width: 500px;
    padding: 10px;
   }
   
   li#user_address {
    margin-left: 50px;
    margin-top: 15px;
    color: white;
}